.location {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;

  color: rgba(16, 24, 40, 0.6);
  font-weight: 500;

  input {
    width: 100%;
    height: 56px;
    padding: 18px 18px 18px 44px;
    border: none;
    border-radius: 10px;
    background-color: var(--cloud);
    line-height: 20px;
  }

  svg {
    position: absolute;
    bottom: 18px;
    left: 18px;
    width: 18px;
    height: 20px;
  }
}
