.item {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 12px 18px;
  border-radius: 100px;
  background-color: var(--snowy);

  svg {
    width: 20px;
    height: 20px;
    stroke: var(--deap-sea);
  }

  p {
    text-transform: capitalize;
    font-weight: 500;
    line-height: 20px;
  }
}
