.details {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-top: 44px;

  h3 {
    font-size: 20px;
    font-weight: 600;
    line-height: 24px;
  }

  hr {
    margin: 0;
    border: 1px solid rgba(16, 24, 40, 0.1);
  }

  ul {
    display: flex;
    flex-direction: column;
    gap: 14px;

    li {
      display: flex;
      justify-content: space-between;
      align-items: center;
      line-height: 0;

      font-size: 18px;
      font-weight: 500;
      line-height: 24px;
    }
  }
}
