.modal {
  position: relative;
  width: 982px;
  max-height: 720px;
  padding: 40px;
  padding-right: 16px;
  border-radius: 20px;
  background-color: var(--white);
}

.container {
  overflow: auto;
  width: 100%;
  max-height: 640px;
  padding-right: 16px;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-track {
    margin-top: 134px;
    margin-bottom: 0;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #d9d9d9;
  }
}

.header {
  margin-bottom: 24px;

  h2,
  & > p {
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
  }
  h2 {
    margin-bottom: 8px;
    line-height: 32px;
  }
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.closeModal {
  display: grid;
  place-items: center;
  width: 32px;
  height: 32px;
  border: none;
  background-color: transparent;

  svg {
    width: inherit;
    height: inherit;
    stroke: var(--deep-sea);
  }
}

.advertInfo {
  display: flex;
  align-items: center;
  gap: 18px;
  margin-bottom: 16px;

  div {
    display: flex;
    align-items: center;
    gap: 4px;
  }

  svg {
    width: 16px;
    height: 16px;
  }
}

.rating {
  p {
    text-decoration-line: underline;
    text-underline-offset: 3px;
  }

  svg {
    fill: var(--sunny);
  }
}

.location svg {
  stroke: var(--deep-sea);
  fill: none;
}

.gallery {
  display: flex;
  gap: 16px;
  margin-bottom: 24px;

  li {
    width: 290px;
    height: 310px;
    border-radius: 10px;
    background-color: var(--snowy);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

.description {
  color: var(--slate);
  margin-bottom: 44px;
}
