.listWrap {
  overflow: auto;
  max-height: 532px;
  min-width: 430px;
  padding-right: 10px;

  &::-webkit-scrollbar {
    width: 8px;
  }
  &::-webkit-scrollbar-thumb {
    border-radius: 7px;
    background-color: #d9d9d9;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
