.btn {
  display: grid;
  place-items: center;
  width: 145px;
  height: 56px;
  border: 1px solid rgba(71, 84, 103, 0.2);
  border-radius: 200px;
  background-color: transparent;

  font-weight: 500;
  letter-spacing: -0.08px;
}
